<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<!--
#Autor:guerra
#Data: 29/12/11
#Ultima alteracao:
-->
<html>
<head>
    <title>EventeX</title>
</head>
<body>
    <div id="page">
        <div id="header">
            <center>
                <img src="{{ STATIC_URL }}img/logo.png" alt="EventeX" />
            </center>
        </div>
        <hr>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
        <hr>
        <div id="footer">
        </div>
    </div>
</body>
</html>